body{
    font-family: 'Roboto', sans-serif;
}

h2{
    color: #031b4e;
    font-size: 36px;
    font-weight: 700;
}

.btn-primary{
    background-color: white;
    border-color: #006aff;
    color: #006aff;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    font-weight: bold;
}

.btn-secondary{
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    font-weight: bold;
}

/* Hamburger-menu */

.navbar-default .navbar-toggle{
    background: none;
    border: none;
}

.navbar-default .navbar-toggle:hover{
    background: none;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #5b6987;
}



/* Header Navbar */

.navbar-default.navbar.navbar-fixed-top {
    border: 0;
    background-color: white;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand{
    padding: 10px 12px;
}

.navbar-brand img{
    max-width: 172px;
    max-height: 28px;
}

.navbar-brand a{
    padding-top: 0;
    padding-bottom: 0;
}


.navbar-default .navbar-nav > li > a{
    font-size: 15px;
    color: #5b6886;
    font-weight: 700;
    padding: 10px 10px;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #006aff;
    background: none;
}

.navbar-right{
    margin-right: 5px;
    margin-top: 8px;
}

.nav-bar-link {
    display: none;
}

/*    Sezione Welcome  */

.welcome{
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.welcome h1{
    color: white;
    font-size: 31px;
    font-weight: 700;
    padding-top: 130px;
    line-height: 120%;
    text-align: center;
}

.welcome p{
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 36px;
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.card-box{
    max-width: 370px;
    margin-top: 100px;
}

.card-box .card-content{
    max-width: 350px;
    border-radius: 6px;
    background-color: white;
}

.card-content h3{
    color: #031b4e;
    background-color: #f3f5f9;
    padding: 30px 0 30px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
}


.card-content input{
    max-width: 270px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(229, 232, 237);
    margin-bottom: 15px;
    padding: 15px 0 15px 0;
    font-size: 16px;
}

.form-control:focus {
    border-color: #0069ff;
    box-shadow: none;
}

.card-content .btn-secondary:hover{
    color: #fff;
    background-color: #1633ff;
}

.card-content .btn-primary:hover{
    color: #363636;
    background-color: white;
}

.card-content .btn-two:hover{
    color: #1633ff;
    border-color: #363636 ;
}

.btn-box{
    display: inline;
}

.card-content .btn-one{
    width: calc(260px - 54px);
}

.card-content .btn-two{
    max-width: 50px;
}

.card-box span{
    font-size: 12px;
    color: white;
    margin-left: 20px;
}

/*  Sezione Business  */

.business{
    background-color: #f3f5f9;
    padding-top: 64px;
    padding-bottom: 64px;
}

.business h4{
    opacity: 1;
    color: #5b6987;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.business .link-business {
    margin-top: 30px;
    margin-bottom: 10px;
}

.business .link-business a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 105, 255);
    letter-spacing: 1px;
}

.business .link-business a:hover{
    color: #1633ff;
}

/* Sezione Deploy */

.deploy{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 180px;
}

.deploy p{
    color: #031b4e;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    line-height: 36px;
    text-align: center;
}

.deploy .box-btn-deploy{
    margin-top: 30px;
}

.deploy .btn-default{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(3, 27, 78, 0.6);
    color: rgba(3, 27, 78, 0.6);
    border-radius: 0;
    font-size: 10px;
    font-weight: bold;
}

.deploy .btn-default:hover{
    border-bottom: 2px solid #1633ff;
    color: rgb(3, 27, 78);
    background-color: white;
}

.margin-top{
    margin-top: 30px;
}

.deploy .deploy-box{
    margin-bottom: 20px;
}

.deploy-box-special{
    margin-bottom: 20px;
}

.deploy h4{
    color: #031b4e;
    font-size: 18px;
    font-weight: bold;
}

.deploy span{
    color: #5b6987;
    font-size: 14px;
    font-weight: 700;
}

/* Sezione Developer */

.developer{
    background-color: #f3f5f9;
    padding-top: 64px;
    padding-bottom: 64px;
}

.developer p{
    color: #031b4e;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    line-height: 36px;
    text-align: center;
}

.developer img{
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3,27,78,0.06);
}

.developer i{
    font-size: 25px;
    color: #031b4e;
}

.developer span{
    color: #5b6987;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.developer .margin-top{
    margin-top: 30px;
    margin-bottom: 60px;
}

.carousel-indicators li {
    background-color: rgba(0,0,0,0);
    border: 1px solid #1633ff;
}

.carousel-indicators .active {
    background-color: #1633ff;
}

/* <!-- Sezione Built --> */


.built{
    background-color: white;
    padding-top: 64px;
    padding-bottom: 300px;
}

.built h2{
    margin-bottom: 60px;
}

.built h4{
    color: #031b4e;
    font-size: 18px;
    font-weight: bold;
}

.built span{
    color: #5b6987;
    font-size: 14px;
    font-weight: 400;
}

.built a{
    display: block;
    color: #0069ff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
}

.built a:hover{
    text-decoration: none;
}

/* <!-- Sezione Customers --> */

.customers{
    background-image: url('https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg');
    background-color: #031b4e;
    background-size: cover;
    padding-bottom: 50px;
}

.customers h2{
    color: white;
    padding-top: 64px;
}

.customers p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.customers a{
    color: #0069ff;
}

.customers a:hover{
    color: #1633ff ;
    text-decoration: none;
}

.panel{
    background-color: inherit;
    border: none;
}

.table>tbody>tr>td{
    border-top:1px solid #5b6886;
}

.panel.prima-tabella {
    margin-bottom: 0px;
}

.panel>.table.tabella-bottom>tbody:first-child>tr:first-child td{
    border-top:1px solid #5b6886;
}

.table .text-white{
    color: white;
    font-weight: bold;
}

.table .text-grey{
    color: #5b6987;
    font-weight: bold;
    text-align: left;
}

.customers .table a{
    text-align: right;
    color: #00d7d2;
}

.customers .table a:hover{
    color: #1633ff;
}


@media (min-width: 375px) {

    .card-content input{
        max-width: 325px;
    }

    .card-box span{
        font-size: 12px;
        color: white;
        margin-left: 40px;
    }

    .card-content .btn-one{
        width: calc(300px - 54px);
    }

    .card-content .btn-two{
        max-width: 50px;
    }

    .deploy .btn-default{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid rgba(3, 27, 78, 0.6);
        color: rgba(3, 27, 78, 0.6);
        border-radius: 0;
        font-size: 12px;
        font-weight: bold;
    }

    .deploy .btn-default:hover{
        border-bottom: 2px solid #1633ff;
        color: rgb(3, 27, 78);
        background-color: white;
    }
}

@media (min-width: 425px) {

    .card-content input{
        max-width: 330px;
    }

    .deploy .btn-default{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid rgba(3, 27, 78, 0.6);
        color: rgba(3, 27, 78, 0.6);
        border-radius: 0;
        font-size: 14px;
        font-weight: bold;
    }

    .deploy .btn-default:hover{
        border-bottom: 2px solid #1633ff;
        color: rgb(3, 27, 78);
        background-color: white;
    }

}

@media (min-width: 768px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important; /* per sovrascrivere l'important di bootstrap */
    }

    .navbar-brand a{
        padding-top: 0;
        padding-bottom: 0;
    }

    .welcome h1{
        font-size: 58px;
    }

    .card-content input{
        max-width: 330px;
    }

    .card-content .btn-one{
        width: calc(300px - 54px);
    }

    .card-content .btn-two{
        max-width: 50px;
    }

    .deploy .btn-default{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid rgba(3, 27, 78, 0.6);
        color: rgba(3, 27, 78, 0.6);
        border-radius: 0;
        font-size: 20px;
        font-weight: bold;
    }

    .deploy .btn-default:hover{
        border-bottom: 2px solid #1633ff;
        color: rgb(3, 27, 78);
        background-color: white;
    }

    .panel>.table.tabella-bottom>tbody:first-child>tr:first-child td{
        border-top:1px solid #5b6886;
    }

}


@media (min-width: 992px) {

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important; /* per sovrascrivere l'important di bootstrap */
    }

    .nav-bar-link {
        display: block;
    }

    .nav-bar-link span{
        background-color: rgb(0,215,210);
        color: rgb(3,27,78) !important;
        font-size: 9px;
        border-radius: 4px;
        padding: 5px 5px;
        text-align: center;
        font-weight: 700;
    }

    .nav-bar-link a{
        color: #5b6987;
        font-size: 12px;
        font-weight: 700;
        line-height: 19.2px;
        margin-left: 10px;
    }

    .box-menu-right::after{
        display: table;
        clear: both;
        content: "";
    }

    .box-menu-right a{
        float: right;
    }


    .nav-bar-link a:hover{
        color: #006aff;
        text-decoration: none;
    }

    .welcome h1{
        text-align: left;
    }

    .welcome p{
        text-align: left;
    }

    .deploy .btn-default{
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 2px solid rgba(3, 27, 78, 0.6);
        color: rgba(3, 27, 78, 0.6);
        border-radius: 0;
        font-size: 20px;
        font-weight: bold;
        display: block;
    }

    .deploy .btn-default:hover{
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 2px solid #1633ff;
        color: rgb(3, 27, 78);
        background-color: white;
    }

    .margin-top{
        margin-top: 0;
    }

    .deploy-box{
        position: relative;
    }

    .deploy .deploy-box img{
        position: absolute;
        top: 0;
        left: 0;
    }

    .deploy .deploy-box h4{
        position: absolute;
        left: 0;
        top: 40px;
        text-align: left;
    }

    .deploy .deploy-box span{
        position: absolute;
        left: 0;
        top: 80px;
        text-align: left;
    }

    .deploy-box-special{
        position: relative;
    }

    .deploy .deploy-box-special img{
        position: absolute;
        top: 160px;
        left: 0;
    }

    .deploy .deploy-box-special h4{
        position: absolute;
        left: 0;
        top: 200px;
        text-align: left;
    }

    .deploy .deploy-box-special span{
        position: absolute;
        left: 0;
        top: 240px;
        text-align: left;
    }

    .built-box{
        position: relative;
    }

    .built img{
        position: absolute;
        top: 0;
        left: 0;
    }

    .built h4{
        color: #031b4e;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 45px;
        left: 0;
    }

    .built span{
        color: #5b6987;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: 80px;
        left: 0;
        text-align: left;
    }

    .built a{
        display: block;
        color: #0069ff;
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 40px;
        text-align: left;
        position: absolute;
        top: 180px;
        left: 0;
    }

    .panel>.table.tabella-bottom>tbody:first-child>tr:first-child td{
        border-top:0;
    }
}
